html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

$color: #9e9e9e;

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  position: relative;
}

.logo {
  position: absolute;
  font-size: 7rem;
  color: #3d3d3d;
  top: 30.3rem;
}

.search-form {
  position: relative;
  width: 57.2rem;
  top: 5rem;
  input {
    font-size: 1.8rem;
    padding-left: 3.8rem;
    width: 100%;
    height: 4rem;

    box-sizing: border-box;
    border-radius: 2rem;
    border: 0.1rem solid $color;

    &:focus {
      outline: $color;
      border-radius: 2rem 2rem 0 0;
    }
  }

  .search-icon {
    position: absolute;
    top: 4.8rem;
    top: 50%;
    left: 1.6rem;
    font-size: 1.7rem;
    z-index: 1;
    color: $color;
    transform: translateY(-50%);
  }
}

.dropdown {
  position: absolute;
  font-size: 1.8rem;
  width: 100%;
  padding: 0;
  padding-bottom: 1rem;
  margin: 0;
  border-radius: 0 0 2rem 2rem;
  border: 0.1rem solid $color;
  border-top: none;
  box-sizing: border-box;
  color: $color;

  .search-icon {
    position: absolute;
    top: 0.5rem;
    left: 1.6rem;
    font-size: 1.7rem;
    z-index: 1;
    color: $color;
  }
}

li {
  position: relative;
  padding-left: 3.8rem;
  margin-top: 1.5rem;

  list-style: none;
}
